// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

//Fontawesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

// Variables
@import 'variables';
@import 'Partials/mixin.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'Partials/_header.scss';
@import 'Partials/footer.scss';
@import 'Partials/_common.scss';
@import 'Partials/index.scss';
@import 'Partials/_show.scss';
@import 'Partials/_adminshow.scss';
@import 'Partials/_search.scss';
@import 'Partials/_nav_bar.scss';

@import 'Partials/_form.scss'
