.background-wrapper{
    background-image: linear-gradient(to right, white, #5db6b9, #d19fd1, #5db6b9, white);
} 

    .wrapper{
    width: 80%;
    margin: auto;
    
        .property-details{
            display: flex;
            flex-wrap: wrap;

                .buttons{
                    border: 2px solid white;
                    width: 50%;
                    margin: auto;
                    margin-top: 30px;

                    .btn-primary{
                        border: none;
                    }
                 }
            }
        }
