.background-wrapper{
    background-image: linear-gradient(to right, white, #5db6b9, #d19fd1, #5db6b9, white);
}

    .wrapper{
    width: 80%;
    margin: auto;

        .property-details{
            display: flex;
            flex-wrap: wrap;

            .title-wrapper{
                width: 100%;

                .img-wrapper{
                    padding-top: none;
                    
                    .img-admin{
                        width: 80%;
                        max-height: 450px;
                        object-fit: cover;
                        margin: auto;
                        display: block;
                        padding-bottom: 10px;
                    }
              }

                .buttons{
                    border: 2px solid white;
                    width: 50%;
                    margin: auto;
                    margin-top: 30px;

                    .btn-primary{
                        border: none;
                    }

                    .modal-content{
                        background-color: rgb(167, 188, 255);
                        .close{
                            padding: 20px 20px 0 0;
                            text-align: right;
                        }

                        .sponsor-offers{
                            display: flex;
                            align-items: baseline;
                            padding: 10px;
                            justify-content: center;

                            @media screen and (max-width: 768px) {
                                    display: block;
                            }

                            label{
                                padding-right: 10px;
                                font-size: 13px;
                                color: $mainColor;
                                font-weight: bold;
                            }
                        }

                        .payment{
                           
                            h5{
                                margin: 15px;
                            }
                    
                            .form-container{
                                background-color: rgb(206, 216, 250);
                                label{
                                    text-align: left;
                                    display: block;
                                    margin: 2px;
                                }
                                input[type=text], select, textarea {
                                    width: 100%; 
                                    padding: 10px; 
                                    border: 1px solid #ccc; 
                                    border-radius: 4px; 
                                    box-sizing: border-box; 
                                    margin-bottom: 15px; 
                                    resize: vertical;
                                }
                            }

    
                            .proceed-btn {
                                cursor: pointer;
                                font-size: 16px;
                                width: 100%;
                                border-color: transparent;
                                border-radius: 6px;
                                color: $white;
                                text-transform: none;
                            }
                            
                        }

                    }
                }
            }
        }
    }
