.bottoni-admin{
        display: flex;
        justify-content: center;
}

.card-list{
    @media screen and (max-width: 768px) {
        width: 100%;
    }
    .card-box{
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 5px 5px 5px #a0a7cf;
        padding: 15px;
        max-block-size: fit-content;
        .card-img-top{
            height: 200px;
        }
        h5{
            padding-top: 30px;
        }
    }
}

