.title{
  text-align: center;
}

.container{
  .destroy_form{
    display: flex;
    margin-bottom: 30px;
    span{
      line-height: 50px;
      margin-left: 15px;
    }
    .destroy_btn{
      margin-left: 50px;
    }
  }
  .form_create{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid #5E61DD;
    border-radius: 10px;
    padding: 30px;
  }
  .premium_name {
      padding-bottom: 20px;
      background: -webkit-linear-gradient(#dc18db, #15cff1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .create_form_group{
    width: 40%;
    .create_form_control{
      width: 100%;
      .create_alert_danger{
        width: 100%;
      }
    }
  }
  .square_meters_mod{
    margin-left: 200px;
  }
}

//media query
@media screen and (max-width: 1200px){
  h1{
    margin-top: 50px;
  }
  .form_create{

    .form-group{
      width: 100%;
    }
    .square_meters_mod{
      margin-left: 0px;
    }
  }
}
