header {
    position:relative;

    #app {
        height: 100px;
        position:absolute;
        width: 100%;

        nav {
            height: 100px;
        }
    
    img {
        width: 180px;
        height: auto;
    }

    form {
        text-align: center;
    }

            // .input_search {
            //     width: 500px;
            // }
  
    .navbar-collapse {
        flex-grow: 0;
    }
}
}


