header {
    height: 200px;

    #app {
        height: 100%;

        nav {
            height: 150px;
        }
    

    img {
        width: 180px;
        height: auto;
    }

    form {
        text-align: center;
    }

            .input_search {
                width: 500px;
            }
  
    .navbar-collapse {
        flex-grow: 0;
    }
}
}