
// index guest e admin

.premium_name {
    padding-bottom: 20px;
    @include fontGradient;
}

h1 {
    padding: 30px;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

        li {
            width: calc((100% / 3) - 10px);
            margin: 5px;
            position: relative;
            
            .img-responsive {
                height: 300px;
                width: 100%;
                overflow: hidden;
                
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    transition: .5s ease-in-out;
                }
            }

            .overlay {
                background-color: rgba(74,102,128,0.4);
                width: 100%;
                height: 100%;
                text-align: center;
                position: absolute;
                top:0;
                left: 0;
                display: none;
                
                .small-container {

                    height: 90%;
                    display: flex;
                    margin: auto;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;

                    a {
                        color: #fff;
                        text-decoration: none;
                        width: 90%;
                        font-weight: bold;
                    }

                }
            }
        }
        .all_properties:hover .overlay {
            display: block;
        }
        .all_properties:hover img {
            transform: scale(1.5, 1.5);
        }
    }

// Links/buttons index.admin
.modifing_link {
    text-decoration: none;
    background-color: $mainColor;;
    color: $white;
    margin: 3px;
    border: none;
}
.modifing_link:hover {
    background-color: $hoverColor;
    color: $white;
}

.hero {
    height: 630px;
    background-image: url('/img/hero.jfif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
    color: white;
    font-size: 20px;
    line-height: 1.3;
    margin-left: 100;
    margin-bottom: 50;
    }
}

@media screen and (max-width: 768px) {
  
    .all_properties {
    width: 100%;
    margin: 5px;
    position: relative;
    }

}