.hero {
    // max-width: 1880px;
    margin: auto;
    height: 100vh;
    background-image: url('/img/house3dd.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
        .bubble{
            margin-right: 20%;
            margin-top: 15%;
        
            .txt-rotate{
                color: white;
                font-family: 'Arvo', serif;
                font-weight: 100;
                font-size: 25px;
                border-style: solid;
                border-width: 0 0 5px 0;
                margin-bottom:20px;
                width:fit-content;
                border-image: linear-gradient(45deg, #d81ddc, #5991ea, #15cff1) 1;  

                .txt-rt{
                    font-weight: 100;
                    font-size: 25px;
                }       
               }
        }
    @media screen and (min-width: 1400px) and (max-width: 1880px) {
        height: 700px;
        }

} //hero



ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        width: calc((100% / 3) - 10px);
        margin: 5px;
        position: relative;
        
        .img-responsive {
            height: 300px;
            width: 100%;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                transition: .5s ease-in-out;
            }
        }

        .overlay {
            background-color: rgba(74,102,128,0.4);
            width: 100%;
            height: 100%;
            text-align: center;
            position: absolute;
            top:0;
            left: 0;
            display: none;
            
            .small-container {
                height: 80%;
                display: flex;
                margin: auto;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 80%;
                padding-top: 20%;
            }

                a {
                    color: #fff;
                    text-decoration: none;
                    width: 90%;
                    font-weight: bold;
                }

                .metro{
                    color: $white;
                    font-weight: bold;
                    font-size: 20px;
                }
                
                .evidence{
                    color: $mainColor;
                    background-color: $hoverText;
                    padding: 5px;
                    border-radius: 50px;
                    font-size: 12px;
                    transform: translateY(50%);
                    font-weight: bold;
                }

            } //small inner container

    } //li

} //ul


    //specifiche
    .all_properties:hover .overlay {
        display: block;
    }

    .all_properties:hover img {
        transform: scale(1.1, 1.1);
    }

    .highlight {
        padding: 40px 0 0 5px; 
    }

    #li-highlight{
        background-image: radial-gradient(white, white, rgb(195, 203, 252));
        padding: 20px;
        border: 1px solid rgb(171, 181, 241);
        margin: 5px;
        width: calc(50% - 10px);
        // @media screen and (max-width: 1000px) {
        //     width: 50%;
        // }
        // @media screen and (max-width: 768px) {
        //     width: 100%;
        // }
    }

    #img-highlight{
        width: 90%;
        margin: auto;
        // @media screen and (max-width: 1000px) {
        //     width: 80%;
        // }
        // @media screen and (max-width: 768px) {
        //     width: 50%;
        // }

        // img{
        //     @media screen and (max-width: 1000px) {
        //         height: fit-content;
        //         width: 80%;
        //     }
        //     @media screen and (max-width: 768px) {
        //         height: fit-content;
        //         width: 100%;
        //     }
        // }
    }

    .over-highlight{
        margin: auto;
    }

    .chosen {
        padding: 30px 0 0 5px;
        @include fontGradient;
    }


    // Links/buttons index.admin
    .modifing_link {
        text-decoration: none;
        background-image: linear-gradient(140deg, #6f54e9, #488ec7);
        color: $white;
        margin: 3px;
        border: none;
    }

    // .modifing_link:hover {
    //     background-color: red;
    //     color: $white;
    // }

    @media screen and (max-width: 768px) {
    
        .all_properties {
        width: 100%;
        margin: 5px;
        position: relative;
        }
    }


    //COME FUNZIONA
    .gs-title{
        margin: 80px 0 10px 5px;
    }

    .getting-started{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .gs-list{
            justify-content: space-between;;
        
            .gs-container{
                width: calc((100% / 4) - 40px);
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 5px 5px 5px #a0a7cf;
                flex-wrap: wrap;
                transition: transform .2s;

                @media screen and (max-width: 870px) {
                        width: calc((100% / 2) - 20px);
                    }
            
                .gs-image{
                    width: 80%;
                    margin: auto;
                    padding: 10px;
                    margin-top: 15px;

                    img{
                        width: 100%;
                        height: auto;
                    }
                }

                .gs-text{
                    text-align: center;
                    padding: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h4{
                        font-size: 20px;
                        @media screen and (max-width: 768px) {
                            font-size: 18px;;
                        }
                    }

                    p{
                        line-height: 1.4;
                        @media screen and (max-width: 450px) {
                            font-size: 13px;
                        }
                    }
                }
            }

            .gs-container:hover{
                transform: scale(1.1);
            }
        }
    } //come funziona

    .find{
        margin: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .find-border{
        border-style: solid;
        border-width: 5px;
        width:fit-content;
        border-image: linear-gradient(45deg, #d81ddc, #5991ea, #15cff1) 1;
        padding: 30px 50px;
        text-align: center;
        }

        .find-btn{
            display: flex;
            justify-content: center;
            padding-top: 15px;
        }
    } //cerca


    .bnb-host-title{
        padding-bottom: 10px;
    }

    .flex-quotes {
        display: flex;
        flex-grow: 1;
        border-bottom: 2px solid $mainColor;
    }
    .col {
        flex: 1
    }

    .col-text {
        flex: 1.5;
        padding: 25px;
        text-align: justify;
        @media (min-width: 640px){
            border-left: 2px solid $mainColor;
        }
    }

    .col-left {
        order: -1;
        text-align: justify;
        @media (min-width: 640px){
            border-left: none;
            border-right: 2px solid $mainColor;
        }
    }

    .col-text p {
        margin: 0;
    }

    .col-image {
        display: none;
        background-size: cover;
        background-position: center;
        @media (min-width: 640px){
            display: flex;
            background-size: cover;
        }
    } //host


    


    // @media (max-width: 768px) {
    //     .carousel-inner .carousel-item > div {
    //         display: none;
    //     }
    //     .carousel-inner .carousel-item > div:first-child {
    //         display: block;
    //     }
    // }
    
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
    
    /* display 3 */
    @media (min-width: 768px) {
        
        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next {
          transform: translateX(33.333%);
        }
        
        .carousel-inner .carousel-item-left.active, 
        .carousel-inner .carousel-item-prev {
          transform: translateX(-33.333%);
        }
    }
    
    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left{ 
      transform: translateX(0);
    }
    
    
#flat-list{
    list-style: none;
    display: flex;
    flex-wrap: unset;
}

#all-properties{
    width: calc((100% / 2) - 10px);
}

.col-md-4{
    width: 100%;
}

#img-highlight{
    overflow: hidden;
    height: auto;
    width: auto;

    .img-fluid{
        height: 300px;
        width: 100%;
    }
}