.page-title{
  margin: 50px 0;
  .premium_name {
      padding-bottom: 20px;
      background: -webkit-linear-gradient(#dc18db, #15cff1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}

.foto_messaggio{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

span{
  font-weight: bold;
  font-size: 20px;
}

.created_at{
  line-height: 20px;
}

.giorno_ora{
  text-align: center;
}

.tronca {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  cursor: pointer;

  .message_link{
    text-decoration: underline;
  }
}

.white{
  color: white;
}

.riga{
  line-height: 50px;
}

.modal-title{
  font-size: 25px;
}

.modal-content{
  background-color: rgba(167, 188, 255,.9);
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  padding: 20px;

  .modal-body{
    p{
      font-size: 23px;
    }
  }
}

.at_center {
  margin: auto;
  position: absolute;
  top: 50%;
}

//smartphone
@media screen and (max-width: 576px){
  .fade.at_center{
    width: 100%;
    .modal-dialog{
      max-width: 400px;
      width: 100%;
      margin: auto;

      .modal-content{
        min-width: 550px;
        width: 100%;
        margin: auto;
      }
    }
  }
  .modal.at_center{
    min-width: 750px;
    width: 100%;
    margin: auto;
  }
  .row_messages{
    height: 100%;
    line-height: 100%;
  }
  .created_at{
    font-size: 10px;
  }
  .at_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 577px) and (max-width: 767px){
  .created_at{
    font-size: 10px;
  }
}

//tablet -> desktop
@media screen and (max-width: 992px){
  .container{
    max-width: 100%;
  }
  span{
    display: block;
  }
  .created_at{
    line-height: 20px;
  }
  .at_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
