@mixin imgResponsive {
    max-width: 100%;
    height: auto;
  }


 @mixin fontGradient{
  background: -webkit-linear-gradient(#dc18db, #15cff1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 } 