@mixin imgResponsive {
    max-width: 100%;
    height: auto;
  }


 @mixin fontGradient{
  background: -webkit-linear-gradient(#b31bb3, #48b5c9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 } 