.large-wrapper{
    background-image: linear-gradient(#F8FAFC, #dad5da, #bbcdcf, #F8FAFC);
}
    .wrapper{
    width: 80%;
    margin: auto;
    
        .property-details{
            display: flex;
            flex-wrap: wrap;
            
            .title-wrapper{
                text-align: center;
                height: 100%;
                padding-bottom: 80px;
                margin: auto;

                h1{
                   padding: 20px 0 20px 0; 
                }

                .img-container{
                    max-height: 450px;
                    width: 100%;
                    display:block;
                    overflow: hidden;
                    padding-top: 30px;
                    
                    .img-show{
                        width: 80%;
                        max-height: 450px;
                        object-fit: cover;
                        margin: auto;
                        display: block;
                        padding-bottom: 10px;
                    }
                    
                    .img-show:hover{
                        transform: scale(1.5, 1.5);
                        transition-duration: 5s;
                    }

                .btn-primary{
                    border: none;
                }
            }
        }

        .modal-content{
            background-color: rgb(167, 188, 255);
        }
        .form-container{
            background-color: rgb(206, 216, 250);
            label{
                text-align: left;
                display: block;
            }
            input[type=text], select, textarea {
                width: 100%; 
                padding: 10px; 
                border: 1px solid #ccc; 
                border-radius: 4px; 
                box-sizing: border-box; 
                margin-bottom: 15px; 
                resize: vertical;
            }
        }

        .description{
            text-align: justify;
        }

        .features {
            // i {
            //     color: $mainColor;
            // }

            h6{
            margin-bottom: 1rem;
            }
        }

    }  

    #map-example-container-paris {
        height: 400px;
        max-width: 800px;
        margin: auto;
        display: block;
        margin-bottom: 50px;
        margin-top: 50px;
      }
    
        
    @media screen and (max-width: 768px)
    {
        .title-wrapper h1{
            font-size: 25px;
        }

        .map-container{
            padding: 20px 0 30px 0;

            h2{
                font-size: 20px;
            }
            h4{
                font-size: 17px;
            }
        } 
    }
    
   
}