.wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
        .property-details{
            margin-bottom: 60px;
    
            .img-container{
                width: 80%;
                max-height: 450px;
                overflow: hidden;
                margin: auto;
    
                .img-show{
                    width: 90%;
                    max-height: 450px;
                    object-fit: cover;
                    margin: auto;
                    display: block;
                    padding-bottom: 30px;
                }
            }
        }
      
        .map-container{
            width: 50%;

            img{
                width: 100%;
                padding: 15px 0 10px 0;
                height: 400px;
                margin: auto;
                display: block;
            }
        }
    
        .message-container{
            width: 50%;
            margin: auto;

            .msg-button{
                padding: 30px;
                background-color: #9AEBF9;
            }

            .form-container{
              
                background-color: grey;
                padding: 20px;
                float:right;
                margin: auto;

                input[type=text], select, textarea {
                    width: 100%; 
                    padding: 10px; 
                    border: 1px solid #ccc; 
                    border-radius: 4px; 
                    box-sizing: border-box; 
                    margin-bottom: 15px; 
                    resize: vertical;
                }
        
                input[type=submit] {
                    background-color: #4CAF50;
                    color: white;
                    padding: 12px 20px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
                
                input[type=submit]:hover {
                    background-color: #45a049;
                }
        
            }
        }
    }
    
    @media screen and (max-width: 768px)
    {
        .wrapper{
            .map-container{
                width: 100%;
                img{
                    width: 100%;
                    margin: auto;
                    display: block;
                }
            }

            .message-container{
                .form-container{
                width: 100%;
                }
            }
        }
    }
