.container{

  .stats-title{
    margin-top: 70px;
    margin-bottom: 15px;

    .statistic_image{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-left: 20px;
    }
  }

  .messaggio_no_ris{
    text-align: center;
    margin-top: 30px;
  }

  .month_calendar{
    margin-top: 20px;
  }

  #myChart{
    border: 2px solid #5E61DD;
    border-radius: 10px;
    padding: 20px;
    // margin-top: 30px;
  }
}

//mediaquery
@media screen and (max-width: 768px){
  #myChart{
    height: 500px;
    width: 70%;
    margin: auto;
  }
}
